@import "fontface.css";

body {
	background-color:#000000;
	font-family:DemiBas,DemiHaut,DemiHautH,DemiHautB,DemiBasH,DemiBasB,CentraleMinH,CentraleMinC,CentraleMinB;
	color:#FFFFFF;
	border:0;
	padding:0;
	margin:0;
}

div #main {
	border:0;
	padding:0;
	margin:0;
}

img .loading {
	border:0;
	padding:0;
	margin:0;
}

a {
	color:#FFFFFF;
	font-family:DemiHaut;
	font-size:1.5em;
	text-decoration:none;
	border:0;
	padding:0;
	margin:0;
}